.wrapper{
    padding: 4px 2px 0 2px;
    min-width: 400px;
    height: 75vh;
    overflow: hidden;
}

.heading{
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.8rem;
}

.btn-action{
    font-size: 1.4rem;
    min-width: 50px!important;
    height: 32px;
    font-weight: 400;
    border-color: var(--orange-color);
    color: var(--orange-color);
    background-color: #fff;
}

.active{
    background-color: var(--orange-color);
    color: #fff;
}

.list{
    max-height: 66vh;
    overflow-y: auto;
    margin-right: -10px;
    padding-right: 4px;
    overscroll-behavior: contain;
}

.item{
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 12px 8px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    position: relative;
    border: 1px solid #FFEBE4;

    &:hover{
        background-color: var(--primary-bg);
    }

    & ~ .item{
        margin-top: 6px;
    }
}

.image-wrapper{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    font-weight: 600;
}

.time{
    margin-top: 4px;
    font-weight: 300;
    font-style: italic;
    color: var(--orange-color)
}

.unread{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--orange-color);
    position: absolute;
    right: 18px;
}

.info{
    width: 77%;
}

.status{
    background-color: rgba($color: #FF7F50, $alpha: 0.05);
}

@media (max-width:400px) {
    .wrapper{
        min-width: 340px;
    }

    .item{
        width: 100%;
    }
}