.wrap-content-1 {
  margin: 5rem 0;
}
.txt-header {
  font-size: 5rem;
  font-weight: 600;
  line-height: 8rem;
}
.txt-content {
  font-size: 1.9rem;
  line-height: 3.5rem;
  text-align: justify;
}
.img-content3 {
  width: 100%;
  aspect-ratio: 1/1;
}
.bold {
  font-weight: bold;
}
.txt-color {
  color: #d5420c;
}
ul {
  list-style: disc; /* disc: dấu chấm tròn; circle: vòng tròn; square: hình vuông */
  margin-left: 20px;
}
ul li {
  margin-bottom: 10px;
}
