@use '../../../abstracts' as abstracts;

.carousel-item img {
  height: auto;
  width: 100%;
  object-fit: cover; 
  aspect-ratio: 3/ 1;
}

.title {
  font-weight: 600;
  font-size:3rem;
  text-align: center;
   @include abstracts.screen(sm){
     font-size:2.4rem;
  }
}

.trapezoid {
  width: 96%; 
  height: 30rem;
  background-color: #4CAF50; 
  clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%); 
  margin: 5rem 0;
  border-radius: 2rem;
  margin-top: 2rem; 
  position: relative; 
  overflow: hidden;
  transition: transform 0.5s ease;
  &:hover {
    transform: scale(1.1); 
  }

  @include abstracts.screen(sm){
    // margin-right: 12px;
    height: 20rem;
  }
  @include abstracts.screen(md){
    height: 16rem;
  }
  @include abstracts.screen(lg){
    height: 20rem;
  }
}

.trapezoid img {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transform: translate(-50%, -50%); 
}
.flipped {
  transform: rotate(180deg);
  margin-top: 8rem;
  @include abstracts.screen(sm){
    margin-top: 1rem;
  }

  transition: transform 0.5s ease;
  &:hover {
    transform: scale(-1.1); 
  }
}

.text-overlay {
  color: #A33A3A;              
  background-color: #FCD4C6;   
  text-align: center;      
  font-size: 2rem;   
  font-weight: 600;            
  position: absolute;          
  bottom: 3.33%;               
  left: 10%;                   
  width: 50%;     
  border-radius: 0.3rem;
  @include abstracts.screen(lg){
    font-size: 1.4rem;  
    padding: 1rem !important;
  }           
}
.flipped .text-overlay{
  top: 3.33%;
  bottom: auto;
  transform: rotate(180deg);
}


.background{
  background-color: #FFF6F3;
  width: 100%;
  margin: 0;
}

.nav-button {
  font-size: 2rem; 
  padding: 1rem;
  color: #E20D0D;
  background-color: white;
  border: none; 
  cursor: pointer;
}
.nav-button:hover, .nav-button:active, .nav-button:focus {
  background-color: #FCD4C6;
  color: #E20D0D;
  outline: none;
  box-shadow: none; 
}
.nav-button:disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: white;
}