@use '../../abstracts' as abstracts;

.wrapper{
    height: 50px;
    display: flex;
    margin-top: 0;
    flex-direction: row;
    background-color: var(--primary-bg);
    
    @include abstracts.screen(lg){
        flex-direction: column;
        margin-top: 4px;
        background-color: initial;
    }
}

.menu-item{
    height: 100%;
    color: var(--red-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;

    @include abstracts.screen(lg){
        padding: 16px 24px;
        justify-content: flex-start;
    }

    @include abstracts.screen(md){
        padding: 16px 20px;
    }
}

.active{
    color: var(--white-color);
    background-color: var(--primary-color);
}
