.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-label{
    margin-bottom: 8px;
    width: 100%;
    line-height: 1.5;
    white-space: wrap;
}

.form-textarea,
.form-input{
    border: 1.4px solid var(--border-color);
    border-radius: 8px;
    padding: 4px 10px;
    background-color: transparent;
}

.form-textarea{
    padding: 8px 10px;
    resize: none;
    font-size: 1.5rem;
    line-height: 1.4;
    transition: border-color 0.2s ease;

    &:focus{
        border-color: #888!important;
    }
}

.form-input{
    height: 44px;
    font-size: 1.5rem;
    width: 100%;
    transition: border-color 0.2s ease;

    &:focus{
        border-color: #888!important;
    }
}

.form-error{
    margin-top: 12px;
    margin-left: 4px;
    color: red;
    font-size: 1.3rem;
    font-weight: 500;
}

.show{
    display: block;
}

.block-gender{
    display: flex;
    flex-direction: column;
}

.gender{
    display: flex;
    justify-content: center;
    column-gap: 60px;
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.form-gender{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.label-gender{
    cursor: pointer;
    padding-right: 8px;
}

.btn-eye{
    padding: 8px;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7rem;
}

.label{
    position: relative;
}

.label::after,
.label::before {
    content: '';
    display: block;
    border-radius: 50%;
    position: absolute;
}

.label::before{
    right: -16px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1.6px solid var(--orange-color);
}

.label::after{
    right: -12px;
    bottom: 3px;
    width: 8px;
    height: 8px;
    background-color: var(--orange-color);
    display: none;
}

.radio-button:checked ~ .label::after{
    display: block;
}

.readOnly{
    color: #888;
    background-color: #F7F6F6;
}

.star{
    color: red;
    margin-left: 2px;
}