.header{
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 3.4rem;
    font-weight: 500;
    color: #D5420C;
}
.btn-add{
    margin-left: auto;
}
.table-row-center td {
  vertical-align: middle; /* Căn giữa theo chiều dọc */
  text-align: center; /* Căn giữa theo chiều ngang */
}