// nhận tin nhắn
.wrap{
    display: inline-flex;
    align-items:flex-start;
    max-width: 80%;
    line-height: 1.4;
    margin: 2px;
    padding: 0;
    cursor: pointer;
}
.wrap-receive{
    justify-content: start;
}
.wrap-send{
    justify-content: end;
}
.wrap-avatar{
    margin: 0 1rem;
}
.avatar{
    width: 42px;
    border-radius: 50%;
    aspect-ratio: 1/1; 
    border: 1px solid #FFEBE4;
    object-fit: cover;
}
.wrap-content-end{
    justify-items: end;
}
.content-message{
    line-height: 2.5rem;
    border-radius: 20px;
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    display: inline-flex;
}
.content-receive{
    background-color: #FFEBE4;
}
.content-send{
    background-color: #FF7F50;
    color: white;
}
.time{
    margin: 7px;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    height: 0;
}

.time.time-visible {
  opacity: 1;
  height: auto;
  visibility: visible;
  transform: translateY(0);
}

.align-right{
    text-align: end;
}