@use '../../../abstracts' as abstracts;

.trapezoid_lelf {
  width: 100%;
  //   height: 100%;
  aspect-ratio: 5/3;
  background-color: #4caf50;
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
  border-radius: 0.3rem;
  overflow: hidden;
}
.img-basic {
  width: 90%;
  //   height: 100%;
  aspect-ratio: 5/3;
  background-color: #4caf50;
  border-radius: 0.3rem;
  overflow: hidden;
  margin: 1rem;
}
.trapezoid_right {
  width: 100%;
  aspect-ratio: 5/3;
  background-color: #4caf50;
  clip-path: polygon(100% 0%, 15% 0%, 0% 100%, 100% 100%);
  border-radius: 0.3rem;
  overflow: hidden;
}
.img-vehicle-5 {
  width: 90%;
  aspect-ratio: 5 / 3.2;
  border-radius: 0.3rem;
  @include abstracts.screen(md) {
    width: 95%;
    aspect-ratio: 5 / 3;
  }
}
.img-vehicle-4 {
  width: 90%;
  aspect-ratio: 5 / 2.5;
  border-radius: 0.3rem;
  @include abstracts.screen(md) {
    width: 95%;
    aspect-ratio: 5 / 3;
  }
}
.img-up {
  margin: 0 1rem 0 2rem;
  @include abstracts.screen(md) {
    margin: 0 0.5rem 0 1rem;
  }
}
.img-down {
  margin: 2.2rem 0 0 0;
  @include abstracts.screen(md) {
    margin: 1.5rem 0 0 0;
  }
}
.img-vehicle {
  width: 100%;
  aspect-ratio: 5 / 3;
  border-radius: 0.3rem;
  margin: 1rem 0 0 0;
  @include abstracts.screen(md) {
    width: 95%;
    aspect-ratio: 5 / 3;
  }
}
.name-location-vehicle {
  width: 100%;
}
.name-vehicle {
  font-size: 3rem;
  font-weight: 600;
  margin-right: 2rem;
}
.icon-txt {
  align-items: center;
  text-align: left;
  justify-content: start;
  padding: 0 1rem 1rem 1rem;
  > div {
    min-width: 50%;
  }
}
.icon {
  font-size: 1.8rem;
  margin: 1rem 1rem 0 0;
  @include abstracts.screen(md) {
    font-size: 1.6rem;
  }
}
.icon-location,
.icon-x {
  margin-top: 2rem;
  color: #e20d0d;
}
.icon-agency{
  color: #A33A3A;
}
.icon-owner,
.icon-type {
  color: #2474e5;
}
.icon-phone {
  color: #ff7f50;
}
.icon-year {
  color: #ffc700;
}
.icon-amount,
.icon-tick {
  color: #27ae60;
}
.icon-clock-notice {
  color: #ff7f50;
}
.icon-clock-warn {
  color: #d34714;
}
.txt {
  margin: 1rem 0 1rem 1rem;
  @include abstracts.screen(md) {
    margin: 1rem 0 1rem 0.3rem;
  }
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: start;
}
.content-feature {
  font-size: 1.6rem;
  font-weight: 600;
  @include abstracts.screen(md) {
    font-size: 1.4rem;
  }
}
.content {
  font-weight: 500;
  text-align: justify;
  line-height: 2.5rem;
}

.charge,
.order,
.surcharge {
  margin: 1rem;
  border-radius: 0.3rem;
}
.charge {
  background-color: #ffebe4;
  padding: 2rem;
  text-align: center;
  color: #a33a3a;
}
.txt-price-list {
  color: #a33a3a;
  font-size: 1.8rem;
}
.charge-old {
  text-decoration: line-through;
  color: #ff7f50;
  margin: 0 0.5rem;
}
.charge-new {
  font-size: 2.6rem;
  font-weight: 600;
  color: #ff7f50;
  margin: 0.5rem !important;
}
.note {
  color: red;
  margin-left: 0;
  font-weight: 600;
  min-width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.note-content {
  line-height: 2.5rem;
  text-align: justify;
}

.order,
.surcharge {
  background-color: #fff6f3;
  padding: 0.3rem;
}
