@use '../../abstracts' as abstracts;
.wrap-ticket{
    margin-top: 24px;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 16px;
}

.image-wrapper{
    position: relative;
    width: 350px;
    height: 180px;

    @include abstracts.screen(xl){
        width: 100%;
    }

    &:hover .btn-msg{
        scale: 1.2;
    }
}

.type{
    line-height: 1.5;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.location-img{
    height: 92px;
}

.location-time{
    font-weight: 600;
}

.duration{
    font-size: 1.3rem;
    font-weight: 400;
}

.icon{
    color: #FFD333;
}

.date{
    font-weight: 500;
    font-size: 1.4rem;
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.rating{
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: 80px;
    height: 40px;
    padding: 8px;
    background-color: var(--primary-bg);
    font-weight: 600;

    @include abstracts.screen(md){
        font-size: 1.4rem;
        width: 85px;
        height: 30px;
    }
}

.price{
    color: var(--orange-color);
    font-weight: 700;
    font-size: 2.2rem;

    @include abstracts.screen(lg){
        font-size: 3rem;
    }

    @include abstracts.screen(md){
        font-size: 2.2rem;
    }
}

.sale-off{
    padding: 8px;
    color: var(--light-green);
    border: 1.2px solid var(--green-color);
    font-weight: 700;
    border-radius: 4px;
    min-width: 70px;
    text-align: center;
}

.actions{
    font-weight: 600;
    line-height: 1.4;
    color: var(--primary-color);
    transition: rotate .3s ease;

    span{
        white-space: nowrap;
    }
}