.wrapper{
    margin-top: 50px;
    padding-bottom: 60px;

    .title{
        font-size: 2rem;
        font-weight: 500;
    }

    .stat-btn{
        padding: 10px 15px;
        border-radius: 999px;
        border: 1px solid var(--orange-color);
        color: var(--orange-color);
        transition: background-color 0.3s ease-in-out;

        &.active{
            background-color: var(--orange-color);
            color: var(--white-color);
        }

        &:not(.active):hover{
            background-color: var(--primary-bg);
        }
    }

    .chart-title{
        text-align: center;
        margin-bottom: 24px;
        font-weight: 500;
    }

    .total-revenue{
        font-size: 1.5rem;
        color: #777;
        margin-bottom: 24px;
    }
}