.wrapper{
    height: 50px;
    background-color: var(--primary-bg);
    display: flex;
}

.menu-item{
    height: 100%;
    padding: 8px;
    color: var(--red-color);
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    color: var(--white-color);
    background-color: var(--primary-color);
}
