@use '../../abstracts' as abstracts;

.carousel-indicators li {
  // background-color: #ff0000; 
  // width: 1.5rem;              
  // height: 1.5rem;              
  // border-radius: 50%;        
  // margin: 0 0.5rem;             
}

.carousel-indicators .button {
  // background-color: #00ff00;
}

.carousel-item img {
//   height: auto;
//   object-fit: cover; 
  aspect-ratio: 3/ 1;
}

.title {
    font-weight: 600;
    font-size:3rem;
    text-align: center;
}

.trapezoid {
    width: 64rem; 
    height: 30rem; 
    background-color: #4CAF50; 
    clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%); 
    margin: 5rem 0;
    border-radius: 2rem;
    margin-top: 2rem; 
    position: relative; 
    overflow: hidden;

    @include abstracts.screen(sm){
      margin-right: 12px;
    }
}

.trapezoid img {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transform: translate(-50%, -50%); 
}
.flipped {
    transform: rotate(180deg);
    margin-left: auto;
    margin-top: 8rem;
}

.text-overlay {
    color: #A33A3A;              
    background-color: #FCD4C6;   
    text-align: center;      
    font-size: 2rem;   
    font-weight: 600; 
    padding: 0.5rem;             
    position: absolute;          
    bottom: 3.33%;               
    left: 10%;                   
    width: 50%;                 
}
.flipped .text-overlay{
    transform: rotate(180deg);
    bottom: 80%;
}

/* Media query cho màn hình nhỏ hơn */
@media (max-width: 800px) {
  .trapezoid {
    width: 32rem; 
    height: 15rem; 
  }
  .text-overlay {
    font-size: 1.5rem; 
    padding: 0.3rem;
  }
}

/* Media query cho màn hình cực nhỏ (điện thoại di động) */
@media (max-width: 300px) {
  .trapezoid {
    width: 8rem; 
    height: 3rem; 
  }
  .text-overlay {
    font-size: 0.3rem; 
    padding: 0.1rem;
  }
}

.background{
    background-color: #FFF6F3;

    @include abstracts.screen(sm){
      width: 100%;
      margin: 0;
    }
}

@keyframes pulse_sm {
  0% {
      transform: scale(1);
      color: #f66e3c; 
  }
  50% {
      transform: scale(1.02); 
      color: #E20D0D; 
  }
  100% {
      transform: scale(1);
      color: #f66e3c; 
  }
}

@keyframes pulse {
  0% {
      transform: scale(1);
      color: #f66e3c; 
  }
  50% {
      transform: scale(1.1); 
      color: #E20D0D; 
  }
  100% {
      transform: scale(1);
      color: #f66e3c; 
  }
}
.note{
  font-size: 3rem;
  font-weight: 600;
  color: #D34714;
  font-style: italic;
  font-family: 'Inter';
  text-align: center;
  animation: pulse 3s infinite;

  @include abstracts.screen(md){
    animation: pulse_sm 3s infinite;
  }
}

.nav-button {
  font-size: 2rem; 
  padding: 1rem;
  color: #E20D0D;
  background-color: white;
  border: none; 
  cursor: pointer;
}
.nav-button:hover, .nav-button:active, .nav-button:focus {
  background-color: #FCD4C6;
  color: #E20D0D;
  outline: none;
  box-shadow: none; 
}
.nav-button:disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: white;
}