@use '../../abstracts' as abstracts;
.wrap-ticket {
  position: relative;
  border: 1px solid #ff9800;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-right: 60px;

  // .save-label {
  //   position: absolute;
  //   right: 10px;
  //   top: 50%;
  //   // transform: translateY(-50%);
  //   font-size: 16px;
  //   color: #ff9800;
  //   font-weight: bold;
  // }
}
.background{
  background-color: #f8ff78;
}
.line-vertical{
  width: 1px;
  margin: 0 35px;
  background-color: #ccc;
  height: 120px;
}
.save-button {
  position: absolute;
  top: 7px;
  left: 95%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  background-color: rgba($color: #f57c00, $alpha: 0.5);
  color: white;
   &.disabled {
    background-color: #ffd4d4;
    color: #ffffff;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.save-button:hover {
  background-color: #f57c00;
  color: white;
  cursor: pointer;
}

.id-ticket {
  background-color: #fff6f3;
  height: 100%;
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
.txt {
  font-size: 1.5rem;
  // margin-bottom: 1rem;
  font-weight: 500;
  color: black;
  &:focus {
    border-color: #ff9800;
    box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
  }
  @include abstracts.screen(sm) {
    font-size: 1.4rem;
  }
}
