@use '../../abstracts' as abstracts;

.title{
    font-size: 1.7rem;
    color: var(--primary-color);
    font-weight: 600;
    display: block;
    text-align: left!important;
}

.customLogo{
    width: 20px;
}

.responsive{
    @include abstracts.screen(md){
        width: 100%!important;
    }
}

.message{
    width: 80%;
    line-height: 1.4;
    text-align: 'center';
    @include abstracts.screen(md){
        width: 100%
    }
}