.txt {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 500;
  color: black;
  &:focus {
    border-color: #ff9800;
    box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
  }
}
.padding-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.add-item {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  text-align: center;
  margin-top: 0.35rem;
  color: #fcd4c6;
  &:hover {
    cursor: pointer;
    color: #ff7f50;
  }
}
.custom-line-height {
  line-height: 2.5rem;
}
.btn {
  min-width: 5rem !important;
  height: 3rem;
  border: #2474e5;
  font-weight: 400;
  margin: 0 10rem;
}
.btn-cancel {
  color: #2474e5;
  background-color: #f8fbff;
}
.btn-save {
  background-color: #2474e5;
}
