@use '../../../../abstracts'  as abstracts;
.title-modal{
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #D34714;
}
.txt{
    font-size: 1.5rem;
    // margin-bottom: 1rem;
    font-weight: 500;
    color: black;
    &:focus {
        border-color: #FF9800;
        box-shadow: 0 0 5px rgba(255, 152, 0, 0.5); 
    }
    @include abstracts.screen(sm){
        font-size: 1.4rem;
    }
}
.selectbox{
    width: 100%;
}
.line{
    border: 1px solid #fff2ee;
    height: 0.2px;
    background-color: #fff2ee;
    margin: 0 0 1rem 0;
    margin-top: 1.5rem;
}
.btn{
    min-width: 10rem !important;
    height: 3rem;
    font-weight: 400;
    margin: 0 2rem;
    @include abstracts.screen(sm){
        min-width: 8rem !important;
        height: 2.6rem;
    }
}
// @use '../../../../abstracts'  as abstracts;
// .wrap-container{
//     border-radius: 5px;
//     border: 1px solid #D34714;
//     padding: 3rem;
// }
// .form-add-bus-trip{
//     justify-content: center;
// }
// .col-form{
//     padding: 0 5rem;
//     // padding-left: 12rem;
//     // @include abstracts.screen(xl){
//     //     padding-left: 8rem;
//     // }
//     // @include abstracts.screen(md){
//     //     padding-left: 4rem;
//     // }
//     @include abstracts.screen(sm){
//         padding: 0.5rem;
//     }
// }
// .title{
//   font-size: 2rem;
//   font-weight: 600;
//   margin: 2rem 0 1rem 0;
// }
// .content{
//   margin-left: 2rem;
//   font-weight: 500;
//   font-size: 1.6rem;
//   text-align: justify;
//   line-height: 5rem;
// }
// .wrap-form{
//     padding: 1.5rem;
//     margin: 1rem;
// }
// .div-group{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// .title-form{
//     text-transform: uppercase;
//     text-align: center;
//     font-size: 2.6rem;
//     font-weight: 600;
//     color: #D34714;
//     margin-bottom: 3rem;
//     @include abstracts.screen(sm){
//         font-size: 1.8rem;
//         line-height: 2.5rem;
//     }
// }
// .txt{
//     font-size: 1.5rem;
//     // margin-bottom: 1rem;
//     font-weight: 500;
//     color: black;
//     &:focus {
//         border-color: #FF9800;
//         box-shadow: 0 0 5px rgba(255, 152, 0, 0.5); 
//     }
//     @include abstracts.screen(sm){
//         font-size: 1.4rem;
//     }
// }
// .selectbox{
//     width: 100%;
// }
// .btn{
//     min-width: 10rem !important;
//     height: 3rem;
//     font-weight: 400;
//     margin: 0 2rem;
//     @include abstracts.screen(sm){
//         min-width: 8rem !important;
//         height: 2.6rem;
//     }
// }