.wrapper{
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    background-color: var(--white-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
    max-height: 100vh;
}
