.search{
    display: flex;
    border-radius: 3rem;
    border: 1px solid #F6F2F2;
    background-color: #F6F2F2;
    align-items: center;
    justify-content: start;
    padding: 0.3rem;
    width: 25rem;
}
.icon-search{
    margin: 0.5rem 1rem;
}
.input-search{
    border: none;
    font-size: 14px;
}