@use '../../../abstracts' as abstracts;
.wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding-top: 20px;
    position: sticky;
    top: -20px;
    left: 0;
    right: 0;
    z-index: 20;
    transition: transform 0.3s ease;

    @include abstracts.screen(lg){
        top: -10px;
    }
}

.controls{
    display: flex;
    justify-content: space-between;
    color: var(--dark-red-color);
    padding: 10px 20px;
}

.actions{
    display: flex;
    align-items: center;
}

.contact{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
    font-weight: 500;
}

.icon {
    margin-right: 4px;
}


.btn-menu{
    padding: 8px 10px;
    margin-left: 12px;

    @include abstracts.screen(sm){
        margin: 0;
        padding: 6px 6px;
    }
}

.btn-back{
    padding: 8px;
}
.overlay{
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000, $alpha: 0.2);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

.content{
    position: fixed;
    background-color: var(--white-color);
    left: 50%;
    right: 0;
    top: 0; 
    bottom: 0;
    z-index: 51;
    transition: transform .5s ease;
    transform: translateX(100%);
    overscroll-behavior: contain;

    @include abstracts.screen(md){
        left: 30%;
    }
}

.content-actions{
    padding: 8px 8px 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-action{
    color: #A33A3A;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    position: relative;

    &::after{
        content: '1';
        color: var(--white-color);
        font-size: 1.2rem;
        font-weight: 600;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: red;
        display: block;
        position: absolute;
        top: 0px;
        right: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & ~ .btn-action{
        font-size: 2.2rem;
        margin-left: 8px;
    }

    & ~ .btn-action::after{
        top: 2px;
        right: 4px;
    }
}

.avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
    border: 1px solid #A33A3A;
}
