.wrapper{
    padding: 16px 8px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.title{
    color: var(--black-color);
    font-weight: 500;
    margin-bottom: 12px;
}

select,
input{
    border: 1px solid var(--border-color);
    border-radius: 6px;
}

select{
    padding: 4px;
}

input{
    padding: 6px 4px;
}

option:hover{
    color: #ccc;
}