.wrapper{
    margin-top: 50px;
    padding-bottom: 60px;
}

.normal{
    background-color: #fff;
    border-color: var(--orange-color);
    color: var(--orange-color);
}

.active{
    background-color: var(--orange-color);
    color: #fff;

    &:hover{
        opacity: 1;
        cursor: initial;
    }
}
