@use '../../abstracts' as abstracts;

.wrapper {
    // display: flex; 
    justify-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.question {
    display: flex; 
    justify-content: space-between; 
    text-align: left;
    width: 100%; 
    padding: 1.2rem;
    padding-inline-start: 2rem; 
    background-color: white;
    color: #333;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Inter';
    border: 0.1rem solid #FFEBE4;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
        background-color: #FFF6F3;
        color: black;
        border: 0.1rem solid #FFEBE4;
        font-weight: 600;
    }

    &.active { 
        background-color: #FFEBE4;
        font-weight: 600;
        border-radius: 0.3rem 0;
    }

    @include abstracts.screen(md){
         padding-inline-start: 3rem;
    }

    @include abstracts.screen(sm){
        padding-inline-start: 2rem;
    }
}

.nav-button {
    margin-right: 5rem; 
    font-size: 2rem;
    color: #333333;
    transition: transform 0.3s; 
    &.rotate {
        transform: rotate(90deg); 
        color: #333;
    }

    @include abstracts.screen(md){
        margin-right: 1rem;
    }
}

.accordion-body {
  font-size: 1.4rem;
  text-align: left;
  color: #333; 
  padding: 1.2rem;
  padding-inline-start: 2rem; 
  width: 100%;
  background-color: #FFF6F3;
  border: 0.1rem solid #FFEBE4;
  border-radius: 0;
  line-height: 1.5;
}


// css cho list question
.title {
  font-weight: 600;
  font-size:3rem;
  text-align: center;
    @include abstracts.screen(sm){
        font-size:2.4rem;
    }
}

.nav-button-page {
  font-size: 2rem; 
  padding: 1rem;
  color: #E20D0D;
  background-color: white;
  border: none; 
  cursor: pointer;
}
.nav-button-page:hover, .nav-button-page:active, .nav-button-page:focus {
  background-color: #FCD4C6;
  color: #E20D0D;
  outline: none;
  box-shadow: none; 
}
.nav-button-page:disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: white;
//   border: none; 
}